@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
   <h1 class="display-4">Welcome to MyScriptureJournal!</h1>
   <p class="lead">This a simple but powerful way to keep notes of your scripture study</p>
   <hr class="my-4">
   <p class="lead">
       <a class="btn btn-primary btn-lg" href="/Scriptures/Create" role="button">Enter a new note</a>
       or <a href="/Scriptures/">Explore your notes</a>
   </p>
</div>